html {
  margin: 40px 40px;
  text-align: center;
  background-color: #f8ede3;
}
body {
  display: inline-block;
  max-width: 900px;
  padding: 0px 15px 15px;
}

.main-home img {
  border-radius: 4px;
}
.main-home h2 {
  margin: 30px 30px;
  font-size: 40px;
}

.main-home p {
  border: 1px solid #d8d6d4;
  background-color: #f3f1f0;
  padding: 20px;
}
.service-itens {
  border: 1px solid #685031;
  background-color: #685031;
  color: #ffff;
  margin: 20px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service-itens img {
  padding: 6px;
}
.read-btn {
  background-color: #685031;
  font-size: 25px;
  padding: 10px;
  margin: 20px 20px;
  color: #ffff;
}

.service-img,
.read-btn,
.service-itens {
  border-radius: 4px;
}
.email a {
  font-size: 22px;
  text-decoration: none;
  color: #685031;
  font-weight: bold;
}
.contact{
margin-top:20px;
}

#services {
  margin: 40px 40px;
}

#about h1 {
  padding: 20px;
}
#about p {
  line-height: 1.5;
}
